KORAPAY_BASE_URL=https://api.korapay.com/merchant/api/v1
KORAPAY_SECRET_KEY=
KORAPAY_WEBHOOK_SECRET=
FRONTEND_URL=http://localhost:3000
GOOGLE_AUTH_SUCCESS_REDIRECT_URL=http://localhost:3000/auth/google/callback
GOOGLE_AUTH_FAILURE_REDIRECT_URL=http://localhost:3000/login
